@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    min-height: 100vh;
    font-family: roboto;
    font-size: 16px;
    color: hsl(234, 29%, 20%);
    background-color: hsl(234, 29%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.success {
    display: none;
    padding: 1rem;
    align-self: stretch;
    button {
        margin: 0.5rem 0;
        padding: 0.4rem;
        border-radius: 0.5rem;
        border: none;
        color: white;
        background-color: hsl(234, 29%, 20%);
        font-weight: 800;
        align-self: stretch;
    }
    h2 {
        font-size: 2rem;
    }
}

h1 {
    font-size: 2rem;
}
main {
    background-color: white;
   
    

    p {
        margin: 1rem 0;
    }

    
    
}
.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    

    .img-container {
        max-width:15% ;
        padding-bottom: 1rem;
    }
  

}
li {
    position: relative;
    margin: 1rem 0;
}
ul {
    margin: 1rem 0;

    list-style: none;
}
li::before {
    content: "";
    background-image: url(assets/images/icon-list.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    left: -2rem;
    position: absolute;
    /* that position reset thing */
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 2rem;
    position: relative;
    input, button {
        align-self: stretch;
        margin: 0.5rem 0;
        padding: 0.9rem 0.4rem;
        border-radius: 0.5rem;
        border: none;
    }
    input {
        border:hsl(0, 0%,58%) solid 1px;

    }
    button {
        color: white;
        background-color: hsl(234, 29%, 20%);
        font-weight: 800;
    }
    label {
        align-self: flex-start;
        font-size: 0.8rem;
        font-weight: 800;
    }
    .error-messages{
        
        opacity: 0;
        
        top:2rem ;
        transition: opacity 100ms ease-in, top 300ms ease-in;
        
    }

    
}

form.error {
    input {
        background-color:hsl(4, 66%, 46%);
        color: white;
        border: hsl(0, 0%,58%) solid 2px;
        
    }
    .error-messages{
        
    
        opacity: 1;
        position: absolute;
        top: -2rem;
        right: 0;
        /* background-color: hsl(237, 39%, 19%); */
        border: hsl(4, 66%, 46%) solid 1px;
        font-weight: 600;
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: hsl(4, 66%, 46%);
    }
    

  
}
button {
    cursor: pointer;
}


@media screen AND (min-width:600px) {
    main {
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }
    .big-image {
        order: 1;
        height: 60%;
    }
    .content section{
        padding: 6rem;
    }
    
}
